#title_welcome {
    width: 50%;
    display: block;
    float: left;
}

#logout_button {
    margin-top: 10px;
    display: block;
    float: right;
}

#menu {
    background-color: #dc3545;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    float: right;
}

#menu_table {
   margin: auto;
   width: 100% !important;
}

#menu_table_tr {
    height: 60px;
    width: 100%;
    display: block;
    float: left;
}

#menu_table_td {
    width: 33%;
    display: block;
    float: left;
    text-align: center;
    margin-top: 15px;
}

#menu_button{
    color: white;
    font-weight: bold;
}


#menu_button_select {
    color: #008605;
    font-weight: bold;
}

#body_content{
    margin-top: 60px;
}

.body_table_small{
    width: 33%;
    display: block;
    float: left;
}


#order_main {
    width: 70%;
    height: 700px;
    display: block;
    float: left;
    border-style: solid;
    border-color: #218838;
    border-radius: 18px;
}

#order_cart {
    width: 30%;
    height: 700px;
    display: block;
    float: left;
    border-style: solid;
    border-color: #218838;
    border-radius: 18px;
}

#my_order_menu {
    background-color: #dc3545;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 100%;
    float: right;
}

#my_order_td {
    color: white;
    font-weight: bold;

}

#order_cart_title {
    color: white;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 15px;
    font-size: 25px;
}


#order_item {
    width: 33%;
    display: block;
    float: left;
}