{% extends "orders/layout.html" %}

{% block body %}
<div class="form-group">
    <div class="content_item">
        <h2 id="title_welcome">Welcome, {{ user.username }}</h2>
        <input id="logout_button" class="btn btn-success" type="button" value="Logout" onclick="location.href = '/logout'"/>
    </div>
    <div id="menu">
        <table id="menu_table">
            <tr id="menu_table_tr">
                <td id="menu_table_td">
                    <a id="menu_button" href="/myOrders">My Orders</a>
                </td>
                <td id="menu_table_td">
                    <a id="menu_button" href="/menu">Menu</a>
                </td>
                <td id="menu_table_td">
                    <a id="menu_button" href="/order">Place Order</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="orderModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div>
            <table id="order_details" class="table">
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Toppings</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </table>
        </div>
        <div id="order_total_price">

        </div>
    </div>
</div>
<div id="body_content" class="form-group">
    <div>
        <div id="order_main">
            <div id="order_placed">
                <h3><a id="order_placed_text" href="/adminOrder/placed">A List of Placed Orders</a></h3>
            </div>
            <div id="order_delivered_choosen">
                <h3><a id="order_delivered_text" href="/adminOrder/delivered">A List of Delivered Orders</a></h3>
            </div>
            <div>
                <div id="all_orders">
                    <h4>{{ all_order.item_type }}</h4>
                    <table class="table">
                        <tr>
                            <th>User</th>
                            <th>Order Date</th>
                            <th>Total Price</th>
                            <th>Order Status</th>
                            <th>Check</th>
                        </tr>
                        {% for all_order in all_orders %}
                        <tr>
                            <td>{{ all_order.user }}</td>
                            <td>{{ all_order.order_date }}</td>
                            <td>$ {{ all_order.order_price }}</td>
                            <td>{{ all_order.order_status }}</td>
                            <td><input type="checkbox" class="change_order_status" value="{{ all_order.id }}"></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="checkout_item_right">
                </div>
                <div id="{{ my_order.id }}"></div>
            </div>
        </div>
        <div id="order_cart">
            <div>
                <p id="total_price">Change Order Status to Order Placed</p>
            </div>
            <div id="checkout_button">
                <input class="btn btn-danger" type="button" value="Change" onclick="changeOrderStatus(`Order Placed`, `{{ order_length }}`)"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}