{% extends "orders/layout.html" %}

{% block body %}
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}
<div class="form-group">
    <div class="content_item">
        <h2 id="title_welcome">Welcome, {{ user.username }}</h2>
        <input id="logout_button" class="btn btn-success" type="button" value="Logout" onclick="location.href = '/logout'"/>
    </div>
    <div id="menu">
        <table id="menu_table">
            <tr id="menu_table_tr">
                <td id="menu_table_td">
                    <a id="menu_button" href="/">My Profile</a>
                </td>
                <td id="menu_table_td">
                    <a id="menu_button_select" href="/menu">Menu</a>
                </td>
                <td id="menu_table_td">
                    <a id="menu_button" href="/order">Place Order</a>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}