<!DOCTYPE html>
<html>
    <head>
        <title>Ed Kang's Project 3!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}" />
    </head>
    <body>
        <div class="container">
            <h1><a href="/">Edward Kang's Project 3!</a></h1>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>