<!DOCTYPE html>
<html>
    <head>
        <title>Ed Kang's Project 3!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}" />
        <script>
            function addToCart(item_name, item_price, item_size, item_pizza_topping, item_sub_topping){
                $.ajax({
                    url: '/addCart',
                    data: {
                        itemname: item_name,
                        itemprice: item_price,
                        itemsize: item_size,
                        itempizzatopping: item_pizza_topping,
                        itemsubtopping: item_sub_topping
                    },
                    success: function(data){
                        const selected_item_name = document.createElement('div');
                        selected_item_name.innerHTML = data.item_name;

                        const selected_item_size = document.createElement('div');
                        selected_item_size.innerHTML = data.item_size;

                        const selected_item_price = document.createElement('div');
                        selected_item_price.innerHTML = data.item_price;

                        document.querySelector('#my_item').append(selected_item_name);
                        document.querySelector('#my_item').append(selected_item_size);
                        document.querySelector('#my_item').append(selected_item_price);
                    }
                });
            };

            function removeCart(item_id){
                $.ajax({
                    url: '/removeCart',
                    data: {
                        itemid: item_id
                    },
                    success: function(data){
                        console.log(data.deleted_item_id);
                        const removeElement = document.getElementById(data.deleted_item_id)
                        removeElement.parentElement.remove();
                    }
                });
            };

            function addToppings(){
                // Get the modal
                var modal = document.getElementById('pizzModal');

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks on the button, open the modal
                modal.style.display = "block";

                // When the user clicks on <span> (x), close the modal
                span.onclick = function() {
                    modal.style.display = "none";
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }


                var checked = document.querySelector('.topping_check:checked').value;

                var select_button = document.querySelector('#topping_complete');

                $(document).ready(function() {
                    $("input:checkbox[class=topping_check]:checked").each(function(){
                        console.log($(this).val());
                    });
                });
            }
        </script>
    </head>
    <body>
        <div class="container">
            <h1><a href="/">Edward Kang's Project 3!</a></h1>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>