{% extends "orders/layout.html" %}

{% block body %}
<div class="form-group">
    <div class="content_item">
        <h2 id="title_welcome">Welcome, {{ user.username }}</h2>
        <input id="logout_button" class="btn btn-success" type="button" value="Logout" onclick="location.href = '/logout'"/>
    </div>
    <div id="menu">
        <table id="menu_table">
            <tr id="menu_table_tr">
                <td id="menu_table_td">
                    <a id="menu_button_select" href="/myOrders">My Orders</a>
                </td>
                <td id="menu_table_td">
                    <a id="menu_button" href="/menu">Menu</a>
                </td>
                <td id="menu_table_td">
                    <a id="menu_button" href="/order">Place Order</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- Modal pops up when user select certain his/her order -->
<div id="orderModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div>
            <!-- List of items belong to this order -->
            <table id="order_details" class="table">
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Toppings</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </table>
        </div>
        <!-- Total price comes here -->
        <div id="order_total_price">
        </div>
    </div>
</div>
<div id="body_content" class="form-group">
    <div>
        <div id="list_main">
            <h2 id="order_title">A List of Orders</h2>
            <div>
                <div id="all_orders">
                    <h4>{{ all_order.item_type }}</h4>
                    <table class="table">
                        <tr>
                            <th>Order Date</th>
                            <th>Total Price</th>
                            <th>Order Status</th>
                            <th>Details</th>
                        </tr>
                        {% for my_order in my_orders %}
                        <tr>
                            <td>{{ my_order.order_date }}</td>
                            <td>$ {{ my_order.order_price }}</td>
                            <td>{{ my_order.order_status }}</td>
                            <!-- Trigger selectOrderDetails function which opens the modal above -->
                            <td><input class="btn btn-success" type="button" value="Check" onclick="selectOrderDetails(`{{ my_order.id }}`)" /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="checkout_item_right">
                </div>
                <div id="{{ my_order.id }}"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}