{% extends "orders/layout.html" %}

{% block body %}
<div class="form-group">
    <div class="content_item">
        <h2 id="title_welcome">Welcome, {{ user.username }}</h2>
        <input id="logout_button" class="btn btn-success" type="button" value="Logout" onclick="location.href = '/logout'"/>
    </div>
    <div id="menu">
        <table id="menu_table">
            <tr id="menu_table_tr">
                <td id="menu_table_td">
                    <a id="menu_button" href="/">My Profile</a>
                </td>
                <td id="menu_table_td">
                    <a id="menu_button" href="/menu">Menu</a>
                </td>
                <td id="menu_table_td">
                    <a id="menu_button_select" href="/order">Place Order</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="body_content" class="form-group">
    <div>
        <div id="order_main">
            <h2 id="order_title">Pasta</h2>
            {% for pasta_menu in pasta_menus %}
            <div id="order_item">
                <h3>{{ pasta_menu.menu_name }}</h3>
                <h3>$ {{ pasta_menu.menu_price }}</h3>
                <h3>{{ pasta_menu.menu_size }}</h3>
                <input class="btn btn-success" type="button" value="Select" onclick="addToCart(`{{ pasta_menu.menu_name }}`, `{{ pasta_menu.menu_price }}`, `{{ pasta_menu.menu_size }}`, ``, ``)" />
            </div>
            {% endfor %}
        </div>
        <div id="order_cart">
            <div id="my_order_menu">
                <table id="menu_table">
                    <tr id="menu_table_tr">
                        <td id="my_order_td"><p id="order_cart_title">My Order</p></td>
                    </tr>
                </table>
            </div>
            <div id="checkout_button">
                <input class="btn btn-danger" type="button" value="Checkout" />
            </div>
            <div id="my_item">
                {% for my_order in my_orders %}
                <div>
                    <div>
                        <div>{{ my_order.item_menu_name }}</div>
                        <div>{{ my_order.topping_pizza }}</div>
                        <div>{{ my_order.topping_sub }}</div>
                    </div>
                    <div>
                        <div>{{ my_order.item_size }}</div>
                        <div>$ {{ my_order.item_price }}</div>
                    </div>
                    <div>
                        <input class="btn btn-btn btn-secondary" type="button" value="Remove" onclick="removeCart(`{{ my_order.id }}`)" />
                    </div>
                    <div id="{{ my_order.id }}"></div>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}