{% extends "orders/layout.html" %}

{% block body %}
<div class="form-group">
    <div class="content_item">
        <h2 id="title_welcome">Welcome, {{ user.username }}</h2>
        <input id="logout_button" class="btn btn-success" type="button" value="Logout" onclick="location.href = '/logout'"/>
    </div>
    <div id="menu">
        <table id="menu_table">
            <tr id="menu_table_tr">
                <td id="menu_table_td">
                    <a id="menu_button" href="/">My Profile</a>
                </td>
                <td id="menu_table_td">
                    <a id="menu_button" href="/menu">Menu</a>
                </td>
                <td id="menu_table_td">
                    <a id="menu_button_select" href="/order">Place Order</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="body_content" class="form-group">
    <div>
        <div id="order_main">
            <h2>Place Order</h2>
            <div>
                <h3><a href="/order/regularPizza">Build Your Own Regular Pizza</a></h3>
            </div>
            <div>
                <h3>Build Your Own Sicilian Pizza</h3>
            </div>
            <div>
                <h3>Build Your Own Subs</h3>
            </div>
            <div>
                <h3><a href="/order/pasta">Pasta</a></h3>
            </div>
            <div>
                <h3>Salads</h3>
            </div>
            <div>
                <h3>Dinner Platters</h3>
            </div>
        </div>
        <div id="order_cart">
            <div>
                <h3>My Order</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}